
{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
        <title>hello</title>
    </head>
    <body>
        
        <img src="{% static 'stylesheet/jyothinew.jpeg' %}" width="100" height="100" alt="image not found"> 
        <div class="module">
            <h1>APPLE</h1>
            <a href="/hi/cal/"><button name="button" type="button">calm</button></br></br></a>
           <a href="/hi/qui"> <button name="button" type="button">quit</button></br></a>
        </div>
        <div class="module">
            <h1>HP</h1>
          <a href="/hello/add"><button name="button" type="button">shirt</button></br></br></a>
          <a href="/hello/new"><button name="button" type="button">pant</button></br></br></a>

        </div>

        <button name="button" type="button">submit</button>
    </body>
</html>